@using Dignite.Cms.Public.Entries
@using Dignite.Cms.Public.Web.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<CmsResource> localizer;
@model EntryDto
@{
    PageLayout.Content.Title = @localizer["CompanyName"];
}

<div class="row g-0">
    <div class="col-6 bg-black bg-opacity-10">
        <div class="d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 mt-5">
                <h1 class="fw-bold mb-3">
                    @localizer["Home-Lunbo-Title"]
                </h1>
                <p class="mb-5 lh-base">
                    @localizer["Home-Lunbo-Description"]
                </p>
                <a href="~/@Model.Language/products" class="btn btn-outline-dark border-3 rounded-pill px-5 py-2" tabindex="-1" role="button" aria-disabled="true">@localizer["ViewAllProductsText"]</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <img src="/tenants/sdrx/product-category-xuanchuan.jpg" class="img-fluid" alt="@localizer["ProductSeriesText"]" />
    </div>
</div>


<div class="pt-5 mt-5 mb-5 pb-5">
    <h2 class="fw-semibold mb-3">@localizer["PartnerClients"]</h2>
    <div id="carousel-huoban" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-1.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-2.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-3.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-4.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-5.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-6.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-7.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-8.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-9.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-10.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-11.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/tenants/sdrx/brands/brand-12.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev rounded-circle" type="button" data-bs-target="#carousel-huoban" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next rounded-circle" type="button" data-bs-target="#carousel-huoban" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="mt-5 mb-5 pb-5">
    <div class="d-flex justify-content-between mb-4">
        <h2 class="fw-semibold">@localizer["OurServices"]</h2>
        
    </div>
    <div class="row g-5">
        <div class="col-4">
            <div class="card h-100 bg-light rounded-0 border-0">
                <img src="/tenants/sdrx/our-services-1.jpg" class="card-img-top rounded-0" alt="...">
                <div class="card-body px-0">
                    <h5 class="card-title">Has a workshop of 7000+ square meters</h5>
                    <p class="card-text text-secondary mb-1">Has multiple production lines and more than 20 sets of equipment with industry competitive advantages</p>

                    <a href="~/@Model.Language/about-us/production-capacity" class="icon-animated icon-animate-right">@localizer["ReadMore"]</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100 bg-light rounded-0 border-0">
                <img src="/tenants/sdrx/our-services-3.jpg" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Products comply with environmental protection requirements</h5>
                    <p class="card-text text-secondary mb-1">
                        The technical indicators meet <span class="text-decoration-underline">GB/T15234-94</span> national standards and enterprise standards
                    </p>
                    <a href="~/@Model.Language/about-us/introduction" class="icon-animated icon-animate-right">@localizer["ReadMore"]</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100 bg-light rounded-0 border-0">
                <img src="/tenants/sdrx/our-services-2.jpg" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        Huge storage capacity
                    </h5>
                    <p class="card-text text-secondary mb-1">
                        Cooperate with many large domestic logistics companies, deliver goods on the same day, and deliver goods within 3 days
                    </p>
                    <a href="~/@Model.Language/about-us/production-capacity" class="icon-animated icon-animate-right">@localizer["ReadMore"]</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-5 mt-4">
        <div class="col-4">
            <h3 class="mb-4">
                Features
            </h3>
            <ul class="icon-1">
                <li>
                    Wide range of plastic tray series available
                </li>
                <li>
                    Durable blow molding tray series
                </li>
                <li>
                    Anti-leakage tray series
                </li>
                <li>
                    Sturdy plastic pallet box series
                </li>
                <li>
                    Convenient plastic turnover basket series
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h3 class="mb-4">
                Benefits
            </h3>
            <ul class="icon-1">
                <li>
                    Durable and long-lasting plastic tray series for efficient handling and storage of goods.
                </li>
                <li>
                    Blow molding tray series that are lightweight yet sturdy, ideal for easy transportation and storage.
                </li>
                <li>
                    Anti-leakage tray series that ensure spill-free handling of liquids and semi-liquids.
                </li>
                <li>
                    Plastic pallet box series that offer a cost-effective and hygienic storage solution for bulk goods.
                </li>
                <li>
                    Plastic turnover basket and box series that are easy to clean and maintain, suitable for a variety of industries.
                </li>
            </ul>
        </div>
        <div class="col-4">
            <img src="/tenants/sdrx/our-services-4.jpg" class="rounded-3" />
        </div>
    </div>
</div>

<div class="pt-5 mt-5 mb-5 pb-5">
    <h2 class="fw-semibold">@localizer["OurTeam"]</h2>
    <p class="text-secondary mb-4">
        @localizer["OurTeamDescription"]
    </p>
    <div class="row g-5">
        <div class="col-6">
            <div class="card mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="/tenants/sdrx/our-team-1.jpg" class="img-fluid rounded-3">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">
                                Jamie
                                Morisson
                            </h3>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor
                                sit amet,
                                consectetur
                                adipiscing elit. Ut
                                elit tellus, luctus
                                nec ullamcorper
                                mattis, pulvinar
                                dapibus leo luctus
                            </p>
                            <a href="~/@Model.Language/about-us/introduction" class="icon-animated icon-animate-right">@localizer["ReadMore"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="/tenants/sdrx/our-team-2.jpg" class="img-fluid rounded-3">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">
                                Jamie
                                Morisson
                            </h3>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor
                                sit amet,
                                consectetur
                                adipiscing elit. Ut
                                elit tellus, luctus
                                nec ullamcorper
                                mattis, pulvinar
                                dapibus leo luctus
                            </p>
                            <a href="~/@Model.Language/about-us/production-capacity" class="icon-animated icon-animate-right">@localizer["ReadMore"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="pt-5 mt-5 mb-5 pb-5">
    <div class="d-flex justify-content-between mb-4">
        <h2 class="fw-semibold">@localizer["CompanyNews"]</h2>
        <a href="~/@Model.Language/news" class="btn btn-sm btn-outline-dark border-3 rounded-pill px-3 py-2" tabindex="-1" role="button" aria-disabled="false">@localizer["ViewAllNews"]</a>
    </div>
    <cms-entry-list site-id="Section.SiteId" section-name="news-list" result-count="1" language="@Model.Language" partial-name="cms/News-Top"></cms-entry-list>    
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card mb-3 p-3">
            <a href="~/@Model.Language/products" class="link-dark">
            <div class="row g-0 bg-secondary bg-opacity-10">
                <div class="col-md-6">
                    <div class="card-body">
                            <h4 class="card-title fw-semibold">@localizer["AllProducts"]</h4>
                            <p class="card-text text-secondary">@localizer["AllProductsDescription"]</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/tenants/sdrx/d-product.jpg" class="img-fluid rounded-0 image-clip" alt="...">
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-3 p-3">
            <a href="https://rongxintuopan.1688.com/page/index.html" class="link-dark">
            <div class="row g-0 bg-secondary bg-opacity-10">
                <div class="col-md-6">
                    <div class="card-body">
                            <h4 class="card-title fw-semibold">@localizer["Order"]</h4>
                            <p class="card-text text-secondary">@localizer["OrderDescription"]</p>
                        </div>
                </div>
                <div class="col-md-6">
                    <img src="/tenants/sdrx/d-1688.jpg" class="img-fluid rounded-0 image-clip" alt="...">
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-3 p-3">
            <a href="~/@Model.Language/contact" class="link-dark">
            <div class="row g-0 bg-secondary bg-opacity-10">
                <div class="col-md-6">
                    <div class="card-body">
                            <h4 class="card-title fw-semibold">@localizer["ContactUs"]</h4>
                            <p class="card-text text-secondary">@localizer["ContactUsDescription"]</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/tenants/sdrx/d-kefu.jpg" class="img-fluid rounded-0 image-clip" alt="...">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>