@using Dignite.Cms.Admin.Sites
@using Dignite.Cms.Localization
@inject AbpBlazorMessageLocalizerHelper<CmsResource> LH
@inject ISiteAdminAppService _siteAdminAppService;
@inherits AbpComponentBase

<Validation MessageLocalizer="@LH.Localize">
    <Field>
        <FieldLabel>@L["DisplayName"]</FieldLabel>
            <TextEdit @bind-Text="Entity.DisplayName" Blur="DisplayNameTextboxBlur" Autofocus="true">
            <Feedback>
                <ValidationError />
            </Feedback>
        </TextEdit>
    </Field>
</Validation>
<Validation MessageLocalizer="@LH.Localize" AsyncValidator="@NameExistsValidatorAsync">
    <Field>
        <FieldLabel>@L["Name"]</FieldLabel>
        <TextEdit @bind-Text="Entity.Name">
            <Feedback>
                <ValidationError />
            </Feedback>
        </TextEdit>
    </Field>
</Validation>
    <Validation MessageLocalizer="@LH.Localize" AsyncValidator="@HostExistsValidatorAsync">
    <Field>
        <FieldLabel>@L["Host"]</FieldLabel>
        <TextEdit @bind-Text="Entity.Host">
            <Feedback>
                <ValidationError />
            </Feedback>
        </TextEdit>
    </Field>
</Validation>

<Field>
    <Check TValue="bool" @bind-Checked="Entity.IsActive">@L["IsActive"]</Check>
</Field>

<Field>
    <FieldLabel>@L["Languages"]</FieldLabel>
    <ListGroup Flush>
        @foreach (var culture in AllLanguages)
        {
            var isChecked= @Entity.Languages.Any(l => l.CultureName.Equals(culture.CultureName, StringComparison.OrdinalIgnoreCase));
            var isDefault = Entity.Languages.FirstOrDefault(c => c.CultureName == culture.CultureName)?.IsDefault;
            <ListGroupItem Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Check TValue="bool" Checked="@isChecked" CheckedChanged="(value)=>OnCultureChanged(culture.CultureName,value)">@culture.DisplayName</Check>
                @if (isChecked && isDefault.HasValue && !isDefault.Value)
                {
                    <Button Color="Color.Light" Size="Size.Small" Clicked="()=>OnSetDefault(culture.CultureName)">@L["SetDefault"]</Button>
                }
                @if (isChecked && isDefault.HasValue && isDefault.Value)
                {
                    <Span TextColor="TextColor.Primary">@L["Default"]</Span>
                }
            </ListGroupItem>            
        }
    </ListGroup>
</Field>