@using Dignite.Cms.Admin.Sites
@using Dignite.Cms.Localization
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@using Volo.Abp.Localization;
@inject AbpBlazorMessageLocalizerHelper<CmsResource> LH
@inherits AbpComponentBase

<Validation MessageLocalizer="@LH.Localize">
    <Field>
        <FieldLabel>@L["DisplayName"]</FieldLabel>
        <TextEdit @bind-Text="Entity.DisplayName" Autofocus="true">
            <Feedback>
                <ValidationError />
            </Feedback>
        </TextEdit>
    </Field>
</Validation>
<Validation MessageLocalizer="@LH.Localize">
    <Field>
        <FieldLabel>@L["Name"]</FieldLabel>
        <TextEdit @bind-Text="Entity.Name">
            <Feedback>
                <ValidationError />
            </Feedback>
        </TextEdit>
    </Field>
</Validation>
<Validation MessageLocalizer="@LH.Localize">
    <Field>
        <FieldLabel>@L["HostUrl"]</FieldLabel>
        <TextEdit @bind-Text="Entity.HostUrl">
            <Feedback>
                <ValidationError />
            </Feedback>
        </TextEdit>
        <FieldHelp>@L["SiteHostRequirements"]</FieldHelp>
    </Field>
</Validation>
<Field>
    <FieldLabel>@L["Cultures"]</FieldLabel>
    <ListGroup Flush>
        @foreach (var culture in AllCultures)
        {
            <ListGroupItem Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Check TValue="bool" Checked="@Entity.Cultures.Any(l=>l.CultureName.Equals(culture.CultureName,StringComparison.OrdinalIgnoreCase))" CheckedChanged="(value)=>OnCultureChanged(culture.CultureName,value)">@culture.DisplayName</Check>
                <Button Color="Color.Primary" Size="Size.Small" Clicked="()=>OnSetDefault(culture.CultureName)">@L["DefaultCulture"]</Button>
            </ListGroupItem>
        }
    </ListGroup>
</Field>
<Field>
    <Check TValue="bool" @bind-Checked="Entity.IsActive">@L["IsActive"]</Check>
</Field>


@code {
    [Parameter] public CreateOrUpdateSiteInputBase Entity { get; set; }
    [Parameter] public IReadOnlyList<LanguageInfo> AllCultures { get; set; }

    public CreateOrUpdateSiteComponent()
    {
        LocalizationResource = typeof(CmsResource);
    }

    void OnCultureChanged(string cultureName, bool value, bool defaultCulture = false)
    {
        if (value)
        {
            Entity.Cultures.Add(new CreateOrUpdateCultureInput(defaultCulture, cultureName));
        }
        else
        {
            Entity.Cultures.RemoveAll(l => l.CultureName == cultureName);
        }
    }

    void OnSetDefault(string cultureName)
    {
        foreach (var sl in Entity.Cultures)
        {
            if (sl.CultureName == cultureName)
            {
                sl.IsDefault = true;
            }
            else
            {
                sl.IsDefault = false;
            }
        }
    }
}